{% extends 'blank.html' %}
{% block content %}
{% load static %}

<div class="row row-cols-1 row-cols-md-2 g-4 top-bottom-space">
    <div class="col">
        {% include 'includes/prod_images_carousel.html' %}
    </div>
    <div class="col">
        <p>{{prod.description|linebreaks}}</p>
        <hr>
        <p>Артикул: {{prod.article_number}}</p>
        {% if prod.balance > 0 %}
            <p class="">В наличии {{prod.balance}} шт.</p>
            <p>Цена: <span class="fs-1">{{rub}}.</span><span class="fs-3 fw-semibold">{{kop}}</span> руб.</p>

            {% load crispy_forms_tags %}
            <form action="{% url 'cart:cart_add' prod.id %}" method="post">
                {% csrf_token %}
                <div class="d-none">{{ cart_product_form }}</div>
                <button type="submit" class="btn btn-primary" id="button-addon2">Добавить в корзину</button>
            </form>

        {% else %}
            <p class="text-danger">Нет в наличии</p>
        {% endif %}
    </div>
</div>


{% endblock content %}
